<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Congrats! You found the easter egg..... Or should I say... Bee Egg!</h4>
      </div>
      <div class="modal-body">
        <img class="shrinkMe" src="../assets/gag_bee.gif"/>
      </div>
    </div>
  </div>
</div>

<md-toolbar color="primary" class="navbar">
  <a class="centerMe" data-toggle="modal" data-target="#myModal">The Hive © 2017</a>
</md-toolbar>     