.navbar{
    bottom: 0;
    position: relative;
    width: 100%;
    border-radius: 0;
}

.centerMe {
  margin-left: auto;
  margin-right: auto;
  text-decoration: inherit;
  color: inherit;
  cursor: default;
}

.shrinkMe {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}