<!--The whole content below can be removed with the new code.-->

<!-- New Angular Materials Navigation Bar -->
<md-toolbar color="primary">

  <img class="App-logo pull-left" src="../../assets/HiveLogo.ico">
  <span>The Hive</span>

  <button md-icon-button (click)="start.toggle()">
    <md-icon>dehaze</md-icon>
  </button>

  <span class="spacer"></span>
  Contact Us
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>live_help</md-icon>
  </button>

  <md-menu #menu="mdMenu"> 
      <button md-menu-item disabled>
        <md-icon>comment</md-icon>
        <span>Live Chat</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>contact_phone</md-icon>
        <span>Phone</span>
      </button>
      <button md-menu-item>
        <md-icon>contact_mail</md-icon>
        <span>Email</span>
      </button>
    </md-menu>
</md-toolbar>


<!-- Angular Materials Sidebar -->
<md-sidenav-container class="demo-sidenav-container tall">
  <md-sidenav #start mode="side">
    <button md-menu-item>
      <md-icon>home</md-icon>
      <span>Home</span>
    </button>
    <button md-menu-item>
      <md-icon>account_circle</md-icon>
      <span>Login</span>
    </button>    
    <button md-menu-item>
      <md-icon>map</md-icon>
      <span>Map</span>
    </button>
    <button md-menu-item>
      <md-icon>insert_chart</md-icon>
      <span>Dashboard</span>
    </button>
    <button md-menu-item>
      <md-icon>settings</md-icon>
      <span>Admin</span>
    </button>    
  </md-sidenav>

  <div class="container mainContent">
    <!-- <app-home></app-home> -->

    <div style="text-align:center">
      <h1>
        Welcome to the Hive!
      </h1>
    </div>

    <app-status-message [errorMessage]='errorMessage'></app-status-message>

    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <app-map (map)='getLocation()' [location]='markers'></app-map> 
  
</div> 

</md-sidenav-container>

<app-login></app-login>
<app-admin></app-admin>
<app-dashboard></app-dashboard>

