<!-- New Angular Materials Navigation Bar -->
<app-navigation (navToggle)="start.toggle()"></app-navigation>

<!-- Angular Materials Sidebar -->

<md-sidenav-container class="demo-sidenav-container tall">
  <md-sidenav #start mode="side">
    <md-nav-list>
      <button md-menu-item routerLink="home" (click)='start.close()'>
        <md-icon>home</md-icon>
        <span>Home</span>
      </button> 
      <!-- <a md-list-item routerLink="home" (click)='start.close()' > 
        <md-icon md-list-icon>home</md-icon> 
        <span md-line>Home</span> </a>
      <a md-list-item routerLink="map" (click)='start.close()' > 
        <md-icon md-list-icon>map</md-icon> 
        <span md-line>Map</span> </a>-->
      <!-- <button md-menu-item routerLink="login" (click)='start.close()'>
        <md-icon>account_circle</md-icon>
        <span>Login</span>
      </button>     -->
      <button md-menu-item routerLink="map" (click)='start.close()' *ngIf="user">
        <md-icon>map</md-icon>
        <span>Map</span>
      </button>
      <button md-menu-item routerLink="dashboard" (click)='start.close()' *ngIf="user">
        <md-icon>insert_chart</md-icon>
        <span>Dashboard</span>
      </button>
      <button md-menu-item routerLink="admin" (click)='start.close()' *ngIf="user">
        <md-icon>settings</md-icon>
        <span>Admin</span>
      </button>     
    </md-nav-list> 
  </md-sidenav>

   <div class="container mainContent">

    <app-status-message [errorMessage]='errorMessage'></app-status-message>

    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    
    <!-- <app-map (map)='getLocation()' [location]='markers'></app-map>    -->

   <router-outlet></router-outlet>   
   </div>  

</md-sidenav-container>