<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>
<h2>Google Maps!</h2>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map 
  [latitude]="lat" 
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]=false
  [zoomControl]=false>

  <agm-marker
    *ngFor="let m of markers;let i = index"
    (markerClick)="clickedMarker(m,i)" 
    [latitude]="m.lat" 
    [longitude]="m.lng">
  
  <agm-info-window>
    <strong>{{m.name}}</strong>
    <hr>{{m.lat}}
  </agm-info-window>

  </agm-marker>
</agm-map>






