<button md-raised-button (click)="onClick()" [disabled]="loading" class="buttonThemed">
	<md-icon>autorenew</md-icon>
	<span>Refresh</span>
</button>

<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> 

<h4 id="countDown"><md-icon>timer</md-icon> Auto Refresh In: {{mapTimer}}</h4>

<md-card class="chartCard">
  <md-card-content>
    <div id="map">
      <agm-map 
        [latitude]="lat" 
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]=false
        [zoomControl]=true
        [fullscreenControl]=true
        [mapTypeControl]=true
        [scrollwheel]=false
        >

        <agm-marker
          *ngFor="let m of markers"
          (markerClick)="clickedMarker(m)"   
          [latitude]="m.lati" 
          [longitude]="m.longi"
          [iconUrl]="(m.status == '1') ? 'http://maps.google.com/mapfiles/kml/pal4/icon15.png' : 'http://maps.google.com/mapfiles/kml/pal4/icon62.png'">
        
        <agm-info-window>
          <strong>{{m.driver_last_name}}, {{m.driver_first_name}}</strong>
          <br />Vehicle ID: {{m.vid}}
          <hr>Latitude: {{m.lati}}
          <br />Longitude: {{m.longi}}
          <br />Vehicle Status: {{m.status}}
          <hr>Vehicle Make: {{m.vehicle_make}} 
          <br />Vehicle Model: {{m.vehicle_model}}
          <br />Vehicle Year: {{m.vehicle_year}}
        </agm-info-window>
        
        </agm-marker>
      </agm-map>
    </div>
  </md-card-content>
</md-card>