<!-- <div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->
  
<!-- <div class="example-container mat-elevation-z8"> -->
<md-card class="adminTable">
  <md-card-header>
     <!-- <md-card-title> -->

    <!-- </md-card-title>  -->
     <md-toolbar class="cardHeading">
      <h1>All data coming from API</h1>

      <span class="fill-space"></span>
        <span *ngIf="loading" class="h4">
          <strong>Loading...  </strong>
          <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> 
        </span>
      <button [disabled]="loading" routerLink="/add-car" md-raised-button class="adminBtn float_rt">
        <md-icon>directions_car</md-icon>
        <span>Add Vehicle</span>
      </button>
    </md-toolbar> 
  </md-card-header>
    <hr>
  <md-card-content>
   <table datatable [dtOptions]="dtOptions" class="row-border hover" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>Vehicle ID</th>
        <th>Driver Name</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehs of vehs">
        <td>{{vehs.vid}}</td>
        <td>{{vehs.driver_last_name + ', ' + vehs.driver_first_name}}</td>
        <td>{{vehs.vehicle_year}}</td>
        <td>{{vehs.vehicle_make}}</td>
        <td>{{vehs.vehicle_model}}</td>
        <td class="text-center">
           <button routerLink="/edit-car/{{vehs.vid}}" md-raised-button class="adminBtn"> 
            <md-icon>sd_card</md-icon>
            <span>Edit</span>
          </button>        
          <button [disabled]="loading" (click)="deleteCar(vehs.vid)" md-raised-button class="adminBtn" >
            <md-icon>close</md-icon>
            <span>Delete</span>
          </button>        
        </td>
      </tr>
    </tbody>
   </table> 
  </md-card-content>
</md-card>
<!-- </div> -->
