<div class="row">

  <!-- <div class="col-xs-12 col-sm-12 col-md-6">
    <md-card class="example-card">
      <md-card-header>
        <md-card-title>First Half</md-card-title>
      </md-card-header>
      <hr>
      <md-card-content>
        <chart [type]="type" [data]="data" [options]="options"></chart>
      </md-card-content>
    </md-card>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6">
    <md-card class="example-card sample">
      <md-card-header>
        <md-card-title>Second Half</md-card-title>
      </md-card-header>
      <hr>
      <md-card-content>
        <chart [type]="type2" [data]="data2" [options]="options2"></chart>
      </md-card-content>
    </md-card>
  </div>

</div> -->


<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12">
    <md-card class="example-card">
      <md-card-header>
        <md-card-title>Full Year</md-card-title>
      </md-card-header>
      <hr>
      <md-card-content>
        <chart [type]="type" [data]="data" [options]="options"></chart>
      </md-card-content>
    </md-card>
  </div>

</div>


