<div class="container">
  
  <span *ngIf="loading" class="h4">
    <strong>Loading...  </strong>
    <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> 
  </span>

  <md-input-container class="pull-right">
    <input type="date" mdInput placeholder="Begin Date" value="bDate">
  </md-input-container>

  <md-input-container class="pull-right">
    <input type="date" mdInput placeholder="End Date" value="eDate">
  </md-input-container>

  <md-select [disabled]="loading" class="pull-right dropDown" placeholder="Driver Name" [(ngModel)]="selectedDriver" name="driverName" (change)="driverSelect(selectedDriver)">
    <md-option>None</md-option>
    <md-option class='testText' *ngFor="let d of drivers" [value]="d.vid">
      {{ d.driver_last_name + ', ' + d.driver_first_name }}
    </md-option>
  </md-select>
  
</div>

<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12">
    <md-card class="example-card">
      <md-card-header>
        <md-card-title class="testText">
          <strong>Delivery Totals by Day of Week</strong>
        </md-card-title>
      </md-card-header>
      <hr>
      <md-card-content>

        <canvas baseChart height="75"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
        >
        </canvas>      

      </md-card-content>
    </md-card>
  </div>

</div>


