<!-- <div class="row">

   <div class="col-xs-12 col-sm-12 col-md-6">
    <md-card class="example-card">
      <md-card-header>
        <md-card-title>First Half</md-card-title>
      </md-card-header>
      <hr>
      <md-card-content>
        <chart [type]="type" [data]="data" [options]="options"></chart>
      </md-card-content>
    </md-card>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6">
    <md-card class="example-card sample">
      <md-card-header>
        <md-card-title>Second Half</md-card-title>
      </md-card-header>
      <hr>
      <md-card-content>
        <chart [type]="type2" [data]="data2" [options]="options2"></chart>
      </md-card-content>
    </md-card>
  </div>

</div>  -->

<div class="container">
  <!-- <md-input-container class="pull-right">
    <input mdInput placeholder="Driver Name" [mdAutocomplete]="dInfo">
  </md-input-container>

  <md-autocomplete #dInfo="mdAutocomplete">
    <md-option class="testText" *ngFor="let d of drivers" value="{{ d.driver_last_name + ', ' + d.driver_first_name }}">
      {{ d.driver_last_name + ', ' + d.driver_first_name }}
    </md-option>
  </md-autocomplete>

   <md-input-container class="pull-right">
    <input mdInput placeholder="Day of Week" [mdAutocomplete]="dOw">
  </md-input-container>

  <md-autocomplete #dOw="mdAutocomplete">
    <md-option class="testText" *ngFor="let dow of weekday" value="{{ dow }}">
      {{ dow }}
    </md-option>
  </md-autocomplete>  -->

  <md-select class="pull-right dropDown" placeholder="Driver Name" [(ngModel)]="selectedDriver" name="driverName" (change)="driverSelect(selectedDriver)">
    <md-option>None</md-option>
    <md-option class='testText' *ngFor="let d of drivers" [value]="d.vid">
      {{ d.driver_last_name + ', ' + d.driver_first_name }}
    </md-option>
  </md-select>
  
</div>

<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12">
    <md-card class="example-card">
      <md-card-header>
        <md-card-title class="testText">
          <strong>Status Total by Day of Week</strong>
        </md-card-title>
      </md-card-header>
      <hr>
      <md-card-content>

        <canvas baseChart height="75"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
        >
        </canvas>      

      </md-card-content>
    </md-card>
  </div>

</div>


