<md-toolbar color="primary">

  <img class="App-logo pull-left" src="../../assets/HiveLogo.ico">
  <span>The Hive</span>

  <!-- <button md-icon-button (click)="start.toggle()"> -->
  <button md-icon-button (click)="navOpen()">
    <md-icon>dehaze</md-icon>
  </button>

  <span class="spacer"></span>
  Contact Us
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>live_help</md-icon>
  </button>

  <md-menu #menu="mdMenu"> 
      <button md-menu-item disabled>
        <md-icon>comment</md-icon>
        <span>Live Chat</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>contact_phone</md-icon>
        <span>Phone</span>
      </button>
      <button md-menu-item>
        <md-icon>contact_mail</md-icon>
        <span>Email</span>
      </button>
    </md-menu>
</md-toolbar>