<md-toolbar color="primary" class="navBar">

  <a data-toggle="modal" data-target="#myModal"><img class="App-logo pull-left" src="../../assets/HiveLogo.ico"></a>
  <span>The Hive</span>

  <!-- <button md-icon-button (click)="start.toggle()"> -->
  <button md-icon-button (click)="navOpen()">
    <md-icon>dehaze</md-icon>
  </button>

  <span *ngIf="user" class="centerMe hideMe"> 
    <small>Welcome, {{user.email}}!</small>
  </span>

  <span *ngIf="!user" class="centerMe hideMe"> 
    <!-- <small>Ple!</small> -->
  </span>

  <span class="example-fill-remaining-space" ></span>
  <!-- <span><a href="/#" [mdMenuTriggerFor]="menu">Contact Us</a></span> -->

  <button md-button routerLink="login" *ngIf="!user">
    <span>Login</span>
    <md-icon>account_box</md-icon> 
  </button>

  <button md-button routerLink="login" (click)="logout()" *ngIf="user">
    <span>Logout</span>
    <md-icon>exit_to_app</md-icon> 
  </button>

   <!-- <button md-icon-button [mdMenuTriggerFor]="menu"> 
     <md-icon>live_help</md-icon> 
   </button>  -->

   <button md-button [mdMenuTriggerFor]="menu">GitHub <i style="font-size:24px" class="fa">&#xf09b;</i></button>

   <md-menu #menu="mdMenu"> 
    <a md-menu-item href="https://github.com/amandaho/Pipeline-Project" target="_blank">
      <md-icon>language</md-icon>
      <span>Front End</span>
    </a>
    <a md-menu-item href="https://github.com/jshales-liberty/auto_data_pipeline_back" target="_blank">
      <md-icon>https</md-icon>
      <span>Back End</span>
    </a>
  </md-menu> 

</md-toolbar>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Congrats! You found the easter egg..... Or should I say... Bee Egg!</h4>
      </div>
      <div class="modal-body">
        <img class="shrinkMe" src="../assets/gag_bee.gif"/>
      </div>
    </div>
  </div>
</div>