<div class="jumbotron">
    <div class="container">
        <img src="../assets/HiveLogo2.png" class="img-responsive"/>
    </div>
</div>

<div class="container">
    <div id="hiveWrapHeader">
        <h2>
        Keep your business alive, with help from <i>The Hive.</i>
        </h2>
        <hr />
    </div>

    <div id="hiveWrapSubHeader">
        <h4>
            The Hive is an automotive fleet management web application.  
            Providing real-time vehicle intelligence for any business that operates a fleet of vehicles. 
            With the help of our up-to-the-minute data calls, the nature of The Hive is especially useful 
            for fleet operators in industries such as: 
        </h4>
        <ul>
            <li>Emergency Services</li>
            <li>Transportation</li>
            <li>Shipping and Logistics</li>
            <li>Utility Operators</li>
        </ul>
        <h4>
            The Hive’s real-time data includes vehicle location, incident notification, and vehicle activity. 
            In addition to real-time data, The Hive also provides dashboards which help drive improvements in the 
            operational efficiency of your fleet. These dashboards track metrics such as vehicle breakdowns, 
            vehicle miles traveled, and other vehicle activities.    
        </h4>
    </div>
</div>

<div class="row" id="techUsed">
    <h1>Technologies found in The Hive</h1>
    <br>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a href="https://angular.io/" target="_blank">
            <img src="https://d1xwtr0qwr70yv.cloudfront.net/assets/tech/angular2-1119177414da2ca4e70596cfeb8b3a2a.svg" />
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a href="http://www.chartjs.org/" target="_blank">
            <img src="http://www.chartjs.org/img/chartjs-logo.svg" />
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a href="https://spring.io/" target="_blank">
            <img src="../assets/spring.png" />
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a href="https://angular-maps.com/" target="_blank">
            <img src="https://angular-maps.com/images/schield.png" />
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a href="https://www.postgresql.org/" target="_blank">
            <img src="https://d1xwtr0qwr70yv.cloudfront.net/assets/tech/postgres-0058106f790a1f864235fa7cc183ef2a.svg" />
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a href="http://getbootstrap.com/" target="_blank">
            <img src="../assets/bootstrap.png" />
        </a>
    </div>
</div>

<div class="container-fluid" id="servicesWrap">
    <div class="row">
        <h1>Features of The Hive</h1>
        <div class="col-md-4" id="servicesCards">
            <md-icon>map</md-icon>
            <hr />
            <div class="subCardContent">
                <h2>
                Map
                </h2>
                <p>
                Keep track of your vehicles with real-time information such as: Alerts, Locations, and much more...
                </p>
            </div>
        </div>
        <div class="col-md-4" id="servicesCards">
            <md-icon>insert_chart</md-icon>
            <hr />
            <div class="subCardContent">
                <h2>
                dashboard
                </h2>

                <p>
                Summarize data through analytics using reports such as: Total Deliveries, Average Distance, and much more...
                </p>
            </div>
        </div>
        <div class="col-md-4" id="servicesCards">
            <md-icon>settings</md-icon>
            <hr />
            <div class="subCardContent">
                <h2>
                admin
                </h2>

                <p>
                Manage your fleet's vehicle information, using an easy to use interface for data manipulation.
                </p>
            </div>
        </div> 
    </div>
</div>

<div class="container-fluid">
    <div class="developers">
        <h1>The Hive Developers</h1>
    </div>
     <!-- <div class="cards">  -->
    <div class="cards row text-center">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0">
            <md-card>
            <img id="amanda" md-card-image src="/assets/amanda.png">
            <md-card-content>
                <h4>Amanda Ho</h4>
                <h5>Front End Developer</h5>
                <h5>Follow Me: <a class="nav-link" target="_blank" href="https://github.com/amandaho"><i style="font-size:24px" class="fa">&#xf09b;</i></a>&nbsp;<a class="nav-link" target="_blank" href="https://www.linkedin.com/in/amanda-ho-116832a2/"><i style="font-size:24px" class="fa">&#xf0e1;</i></a></h5>
            </md-card-content>
            </md-card>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0">
            <md-card>
            <img md-card-image src="/assets/chris.png">
            <md-card-content>
                <h4>Chris Woods</h4>
                <h5>Front End Developer</h5>
                <h5>Follow Me: <a class="nav-link" target="_blank" href="https://github.com/cjwoods89"><i style="font-size:24px" class="fa">&#xf09b;</i></a>&nbsp;<a class="nav-link" target="_blank" href="https://www.linkedin.com/in/christopher-woods-b5480851/ "><i style="font-size:24px" class="fa">&#xf0e1;</i></a></h5>
            </md-card-content>
            </md-card>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0">
            <md-card>
            <img id="david" md-card-image src="/assets/david.png">
            <md-card-content>
                <h4>David Gray</h4>
                <h5>Back End Developer</h5>
                <h5>Follow Me: <a class="nav-link" target="_blank" href="https://github.com/davidhgray"><i style="font-size:24px" class="fa">&#xf09b;</i></a>&nbsp;<a class="nav-link" target="_blank" href="https://www.linkedin.com/in/davidhgray/"><i style="font-size:24px" class="fa">&#xf0e1;</i></a></h5>
            </md-card-content>
            </md-card>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0">
            <md-card>
            <img md-card-image src="/assets/jonathan.PNG">
            <md-card-content>
                <h4>Jonathan Shales</h4>
                <h5>Back End Developer</h5>
                <h5>Follow Me: <a class="nav-link" target="_blank" href="https://github.com/jshales-liberty"><i style="font-size:24px" class="fa">&#xf09b;</i></a>&nbsp;<a class="nav-link" target="_blank" href="https://www.linkedin.com/in/jonathan-shales-81090694"><i style="font-size:24px" class="fa">&#xf0e1;</i></a></h5>
            </md-card-content>
            </md-card>
        </div>
    </div>
    <!-- </div> -->
</div>
<br />&nbsp;

    





