<div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container">
   <div class="row">
     <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
      <md-card>
        <md-card-content>
          <img class="profile-img img-circle" src="../assets/bee4-1.gif">
          <form #addCar="ngForm" class="loginForm" (ngSubmit)="saveDriver(driver.vid)" >
            <input [(ngModel)]="driver.vid" type="hidden" name="vid">
            <md-input-container class="inputForm">
              <input [(ngModel)]="driver.driver_first_name" mdInput placeholder="Driver First Name" id="driver_first_name" name="driver_first_name" [formControl]="firstFormControl">
              <md-icon mdSuffix>mode_edit</md-icon>
               <md-error *ngIf="firstFormControl.hasError('minlength')">
                Please enter a first name that is at least 2 letters.
              </md-error> 
            </md-input-container>
            <br />
            <md-input-container class="inputForm">
              <input [(ngModel)]="driver.driver_last_name" mdInput placeholder="Driver Last Name" id="driver_last_name" name="driver_last_name" [formControl]="lastFormControl">
              <md-icon mdSuffix>mode_edit</md-icon>
              <md-error *ngIf="lastFormControl.hasError('minlength')">
                Please enter a last name that is at least 2 letters.
              </md-error> 
            </md-input-container>

            <md-select class="dropDown" placeholder="Vehicle Year" [(ngModel)]="driver.vehicle_year" name="vehicleYear" (change)="getMakes(driver.vehicle_year)">
              <md-option *ngFor="let y of yearArray" [value]="y">
                {{ y }}
              </md-option>
            </md-select>
            <br />&nbsp;
            
            <md-select class="dropDown" placeholder="Vehicle Make" [(ngModel)]="driver.vehicle_make" name="vehicleMake" (change)="getModels(driver.vehicle_year, driver.vehicle_make)">
              <md-option *ngFor="let m of makes" [value]="m.make_display">
                  {{ m.make_display }}
              </md-option>
            </md-select>
            <br />&nbsp;
        
            <md-select class="dropDown" placeholder="Vehicle Model" [(ngModel)]="driver.vehicle_model" name="vehicleModel">
              <md-option *ngFor="let v of models" [value]="v.model_name">
                  {{ v.model_name }}
              </md-option>
            </md-select>
            <br />&nbsp;
             <span *ngIf="loading" class="h4">
          <strong>Loading...  </strong>
          <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> 
        </span>
            <button md-raised-button type="submit" [disabled]="lastFormControl.hasError('minlength') || firstFormControl.hasError('minlength') || loading " class="submitForm">Submit</button>
          </form>
        </md-card-content>
      </md-card>
      <button md-button routerLink="/admin" [disabled]="loading" class="testCenter">Return to Admin</button>
    </div>
  </div>
</div>
